<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Editorial Name</th>
            <th>Descripcion </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of iteraciones">
						<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)">{{i.nombre}}</a>
						</td>
            <td> {{i.descripcion}}
            </td>  

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="border row">
		<div class="col">
			<div *ngIf="selectedIteracion">
				<app-iteracion-detail [iteracionDetail]="selectedIteracion"> </app-iteracion-detail>
			</div>
		</div>
	</div>
</div>